{# <h3>{{ node.title.value }}</h3>
{{ content.field_intro_text }}
<span class="btn">{{ content.field_program_feature_cta_link }}</span>
#}

          <figure>
            {{ content.field_program_feature_image }}
            {# <a href="https://youtu.be/yAZi5p3Dljk" data-fancybox="" class="video-link--fancy" >
              <span class="show-for-sr">Click to play the video</span>
              <span class="play-button"></span>
            </a>
            #}
          </figure>
          <div class="program-featured__text">
            <div class="program-featured__inner">
            <h3>{{ content.field_feature_display_title }}</h3>
            {{ content.field_intro_text }}     
            {{ content.field_program_feature_cta_link }}
          </div>
          </div>
        </div>
