{% import "@oho_base/includes/oho-macros.html.twig" as oho_macros %}
<footer class="site-footer">
  <div class="grid-container">
    <div class="grid-y">
      <div class="cell">
        <div class="grid-x">
          <div class="cell small-12 medium-12 large-6">
            <div class="grid-y" >
              <div class="cell shrink">
                <div class="grid-x grid-padding-x">
                  <div class="cell small-12 medium-6">
                    <a class="site-footer__logo" href="/"><img src="{{ base_path ~ directory }}/assets/img/ULL-logo-vertical.svg" alt="{{ 'University of Loouisiana logo with the fleur de lis'|t }}"></a>
                  </div>

                  <div class="cell small-12 medium-6">
                    <div class="site-footer__contact">
                      <ul>
                        <li>
                          <i class="fal fa-phone"></i>
                          <div class="site-footer__contact-text"> 
                            {{ content.field_fcb_phone_number }}
                          </div>
                        </li>
                        <li>
                          <i class="fal fa-envelope"></i>
                          <div class="site-footer__contact-text"> 
                            {{ content.field_fcb_email }}
                          </div>
                        </li>
                        <li>
                          <i class="fal fa-map-marker-alt"></i>
                          <div class="site-footer__contact-text"> 
                            {{ content.field_component_body }}
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="cell auto small-12">
                <section class="site-footer__campaign-callout site-footer__campaign-callout--desktop">
                  <h2>{{ content.field_fcb_cc_title }}</h2>
                  {{ oho_macros.link_field_link(content.field_fcb_cc_link, 'btn') }}
                </section>
              </div>
            </div>
          </div>

          <div class="cell small-12 medium-12 large-6">
            <div class="grid-x grid-padding-x">
              <div class="cell small-12 medium-6">
                <div class="site-footer__main-nav">
                  {{ drupal_menu('main') }}
                </div>
              </div>

              <div class="cell small-12 medium-6">
                <div class="site-footer__links site-footer__links--primary">
                  {{ drupal_menu('audience-menu') }}
                </div>
                <div class="site-footer__social">
                  {{ oho_macros.field_list(content.field_fcb_social_media_links) }}
                </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</footer>

<footer class="site-footer--footer">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell">
        <p>&copy; {{ copyright_year }} {{ 'University of Louisiana at Lafayette. All rights reserved.'|t }}</p>
        {{ drupal_menu('utility-menu') }}
      </div>
    </div>
  </div>
</footer>
