<div class="grid-x">
  <div class="cell small-12 medium-8 large-9">
{% if content.field_component_body|render %}
  <button type="button" class="costs__accordion-button">
    <div class="costs__name">{{ content.field_taf_item_name }}</div>
    <div class="costs__amount">{{ content.field_taf_item_number }}</div>
    <span class="show-for-sr">Click to <span>show</span> background information</span>
  </button> 
  <div class="costs__accordion__content">  
    <div class="costs__breakdown__title">What is This?</div>    
    <div class="costs__breakdown__body">{{ content.field_component_body }}</div>
    {% if content.field_taf_item_breakdown_name|render %}
    <div class="costs__breakdown__title">Breakdown</div> 
      <div class="costs__breakdown__body"><span class="taf_name">{{ content.field_taf_item_breakdown_name }}</span><span class="taf_number">{{ content.field_taf_item_breakdown_cost }}</span></div>
      <div class="costs__breakdown__body"><span class="taf_name">{{ content.field_taf_item_breakdown_name_2 }}</span><span class="taf_number">{{ content.field_taf_item_breakdown_cost_2 }}</span></div>      
      <div class="costs__breakdown__body"><span class="taf_name">{{ content.field_taf_item_breakdown_name_3 }}</span><span class="taf_number">{{ content.field_taf_item_breakdown_cost_3 }}</span></div>
      <div class="costs__breakdown__body"><span class="taf_name">{{ content.field_taf_item_breakdown_name_4 }}</span><span class="taf_number">{{ content.field_taf_item_breakdown_cost_4 }}</span></div>           
    {% endif %}
    {% if content.field_taf_item_resource_links|render %}
    <div class="costs__breakdown__title">Resources</div>     
      <div class="costs__breakdown__body">{{ content.field_taf_item_resource_links }}</div>
    {% endif %} 
  </div>
  
{% else %}

  <div class="costs__textrow">
    <div class="costs__name">{{ content.field_taf_item_name }}</div>
    <div class="costs__amount">{{ content.field_taf_item_number }}</div>
  </div>  
  
{% endif %} 

  </div>
  {% if content.field_taf_item_cta_link|render %}
    <div class="cell small-12 medium-4 large-3">
      <a href="{{ paragraph.field_taf_item_cta_link.0.url }}" class="costs__highlight"><i class="fas fa-asterisk"></i><span>{{ paragraph.field_taf_item_cta_link.0.title }}</span></a>
    </div>   
  {% endif %}   
</div>
