{% set background = "" %}
{% set class = "" %}
{% if content.field_component_image|render %}
  {% set background = "background-image: url(" ~ file_url(paragraph.field_component_image.entity.field_media_image.entity.fileuri) ~ ")" %}
  {% set class="differentiator--with-photo" %}
{% endif %}
<div class="cell small-12 medium-4">
  <article class="differentiator {{ class }}" style="{{ background }}">
    {% if content.field_component_image|render %}

    {% elseif content.field_component_icon|render %}
      {{ content.field_component_icon }}
    {% else %}
      <div class="differentiator__stat oho-animate-count" style="visibility: visible;">{{ content.field_differentiator_value }}</div>
    {% endif %}
    <div class="differentiator__text oho-animate fade-in-up">
    {% if content.field_component_title|render %}
        <div class="differentiator__title">
          <h3 class="h5">
            {% if content.field_component_title_link|render %}
              <a href="{{ content.field_component_title_link }}">
                {{ content.field_component_title }}
              </a>
            {% else %}
              {% if content.field_component_icon|render %}
                <span class="make_red">
                  {{ content.field_component_title }}
                </span>
              {% else %}
                {{ content.field_component_title }} 
              {% endif %}        
            {% endif %}
          </h3>
        </div>
    {% endif %}
    {% if content.field_component_subtitle|render %}
      <div class="differentiator__desc">
        <p>{{ content.field_component_subtitle }}</p>
      </div>
    {% endif %}
    </div>
  </article>
</div>
