<style>
    .page-wrapper {
      position: relative;
      top: -100px;
    }
    .header__bg {
      background: none;
    }
</style>
<article class="home-page" style="padding: 0px">
  <section class="hero section--global-spacing hero--img {{hero_classes}}">
    <div class="hero__media">
        <div class="video-feature">
          <video autoplay=autoplay id="hero" loop muted {# poster="{{video_poster}}" #}>
            <source src="{{ content.field_header_video_url }}">
          </video>
        </div>
    </div>
{% if content.field_header_title|render %}
    <div class="hero__content">
      <h1>{{ content.field_header_title }}</h1>
    </div>
{% endif %}
  </section>
  <section class="section--hero-cta">
    {{ content.field_hero_cta }}
  </section>
  <section class="section--brand-features">
    <h2>{{ 'Find your'|t }}&hellip;</h2>
    <ul>
      {{ content.field_home_brand_features }}
    </ul>
  </section>
  {{ content.field_home_campaign_highlight }}
  
  <section class="section--news-story-feature section--wide-lined-title section--banded section--dusty-light">
    {{ content.field_news_curated_feature }}
  </section>
  
  {{ content.field_culture_component }}
  <section class="section--banded section--white section--livewhale">
    {{ content.field_livewhale_event_feature }}
  </section>
  
  <section class="section--image-video-gallery section--wide-lined-title section--banded section--dusty">
    {{ content.field_home_instagram_gallery }}
  </section> </article>
