<article class="landing-page">
  <article class="hero section--global-spacing hero--img">
{% if content.field_header_image|render %}
<style>
    .page-wrapper {
      position: relative;
      top: -100px;
    }
    .header__bg {
      background: none;
    }
    .page--landing-page #main-menu {
      background: rgb(0,0,0);
      background: linear-gradient(180deg, rgba(0,0,0,.6) 0%, rgba(0,0,0,.01) 100%);
    }
</style> 
    <div class="hero__media">
  {#
    {% if content.field_header_video|render %}
      <div class="video-feature">
        <video id="hero" loop="" muted="" poster="http://placehold.it/768x480" autoplay="autoplay" >
          <source src="{{ content.field_header_video }}&html5=True">
        </video>
      </div>
    {% endif %}
  #}  
    {{ content.field_header_image }}
    </div>
{% endif %}
{% if not content.field_header_image|render %}
  <style>
        .hero__content { padding-top: 2.5rem !important; }
  </style>
{% endif %}
    {% if content.field_intro_text|render %}
      <div class="hero__content">
        <div class="grid-x">
          <div class="cell small-12 large-9">
            <h1>{{ node.title.value }}</h1>
            <p></p>
            <div class="wysiwyg">
              <div class="intro-text">
                {{ content.field_intro_text }}
              </div>
              {{ content.body }}
            <div>
          </div>
        </div>
      </div>
    {% endif %} </article> {{ content.field_page_components }}
