<nav class="sidebar-menu sidebar-menu--padded-levels" data-menu-open-text="Open the %s submenu" data-menu-close-text="Close the %s submenu">
  <button class="sidebar-menu__toggle" data-button-open-text="Click to expose navigation links on mobile" data-button-close-text="Click to hide navigation links on mobile" data-button-open-class="sidebar-menu-open" data-button-disable-at="769">
    More In This Section
    <span class="show-for-sr">Click to expose navigation links on mobile</span>
  </button>
  <div class="sidebar-menu__container">
    {% if title %}
      <h3><a href>{{ title }}</a></h3>
    {% endif %}
  {% if nav_title %}
    {% if nav_title.items|length > 1 %}
      <ul>
        {% for item in nav_title.items %}
          <li>
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.title }}</a>
          {% else %}
            {{ item.title }}
          {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <h3>
      {% if nav_title.items[0].url %}
        <a href="{{ nav_title.items[0].url }}">{{ nav_title.items[0].title }}</a>
      {% else %}
        {{ nav_title.items[0].title }}
      {% endif %}
      </h3>
    {% endif %}
  {% endif %}    
  </div>
</nav>
