<section class="profile-detail grid-x grid-padding-x">
  <div class="cell small-12">
    <h1>{{ label }}</h1>
  </div>
  <div class="cell small-12 medium-3">
    <figure class="profile__figure">
      {{ content.field_profile_image }}
    </figure>
  </div>
  <div class="cell small-12 medium-9">
    <div class="profile__types">
      <ul>
        <li class="term-type"> 
          {{ content.field_profile_type }}
        </li>
    </ul>
    </div>
    <div class="profile__titles" style="font-size: 1.25rem; font-weight: 400">
      {{ content.field_profile_position }}
    </div>
    <div class="profile__contact">
      <ul>
        <li>
          <i class="far fa-phone"></i><span>{{ content.field_profile_phone_number }}</span>
        </li>
        <li>
          <i class="far fa-envelope"></i><span>{{ content.field_profile_email }}</span>
        </li>        
        <li>
          <i class="far fa-map-signs"></i><span>{{ content.field_profile_office_location }}</span>
        </li> 
      </ul>
    </div>
  </div>
  <div class="cell small-12 medium-8">
    <div class="intro-text">
      {{ content.field_profile_summary }}
    </div>
    <h2>Biography</h2>
    <div class="profile__html-basic wysiwyg">
      {{ content.body }}
    </div>
    <h2>Education</h2>
    <div class="profile__html-basic wysiwyg">
      {{ content.field_profile_education }}
    </div>
    <h2>Student Research/Collaboration</h2>
    <div class="profile__html-basic wysiwyg">
      {{ content.field_profile_research }}
    </div>
    <h2>Publications</h2>
    <div class="profile__html-basic wysiwyg">
      {{ content.field_profile_publications }}
    </div>    
    <h2>Awards & Recognition</h2>
    <div class="profile__html-basic wysiwyg">
      {{ content.field_profile_awards }}
    </div>
    <div class="profile__html-basic wysiwyg">
      {{ content.field_profile_other_info_text }}
    </div> 
  </div>
  <div class="cell small-12 medium-4">

  </div>
</section>