<article class="directory__listing--person">
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 medium-7 large-6 large-offset-1">
      <h3 class="profile__name">
        <a href="{{ url }}">{{ label }}</a>
      </h3>
      <div class="profile__summary wysiwyg">
        <p>{{ content.field_profile_summary }}</p>
      </div>
      <div class="profile__types">
      {% if content.field_profile_type[0] %}
        <ul>
          {% for key, item in content.field_profile_type if key|first != '#' %}
            <li><div class="term-type">{{ item }}</div></li>
          {% endfor %}
        </ul>
      {% endif %}        
      </div>
      <div class="profile__positions">
      {% if content.field_profile_position[0] %}
        <ul>
          {% for key, item in content.field_profile_position if key|first != '#' %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}        
      </div>   
    </div>
    <div class="cell small-12 medium-5 large-4">
      <div class="profile__contact">
        <ul>
          <li>
            <i class="far fa-phone"></i>
            <span>{{ content.field_profile_phone_number }}</span>
          </li>
          <li>
            <i class="far fa-envelope"></i>
            <span>{{ content.field_profile_email }}</span>
          </li>  
          <li>
            <i class="far fa-toolbox"></i>
              {% if content.field_profile_expertise_areas[0] %}
                <ul>
                  {% for key, item in content.field_profile_expertise_areas if key|first != '#' %}
                    <li>{{ item }}</li>
                  {% endfor %}
                </ul>
              {% endif %}             
          </li>                  
      </div>
    </div>
  </div>
</article>