<div>
  <div>
    <figure class="profile__figure">{{ content.field_profile_image }}</figure>
  </div>
  <div style="line-height: 1.5rem;"><a href="{{ url }}">{{ content.field_profile_first_name }} {{ content.field_profile_last_name }}</a></div>
  <div style="font-size: 12px; line-height: 1.5rem;">{{ content.field_profile_type }}</div>
</div>
